.jumbotron {
    background-image: url(blue_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 50px;
    color: antiquewhite;
}

.card-deck {
    margin: auto 2vw;
    padding-top: 20px;
}